//Section service

.services{
    width: 117rem;
    height: 590px;
    display: block;
    margin: 0 auto;
    .focus{
        position:relative;
        margin: 0 auto 5rem;
        &__title{
            margin: 0 auto 1rem;
        }
        &__intro{
            
        }
        &__callout{
            position: absolute;
            right: 3rem;
            top: 2.4rem;
            min-width: 20rem;
        }
    }
    ul{
        li{
            float: left;
            width: 23.076923077%;
            .service{
                position: relative;
                min-height: 31.5rem;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -ms-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                &__title{

                }
                &__title::before{ 
                    margin: 0 auto 2rem;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out; 
                    &--icon-thumb{

                    }
                    &--icon-key{

                    }
                    &--icon-flag{

                    }
                    &--icon-flask{

                    }

                }
                &__p{

                }
                &__fake-button{
                    position: absolute;
                    left: 3.5rem;
                    right: 3.5rem;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                    -webkit-transform: translateY(50%);
                    -moz-transform: translateY(50%);
                    -ms-transform: translateY(50%);
                    -o-transform: translateY(50%);
                    transform: translateY(50%);
                }

            }
        }
    }
}
