//Section Why?
/*
.why{
    background: #ececec url("../..assets/img/why-bcg-pattern.png") repeat-x scroll left top;
    &__title{
        text-align: center;
        padding-top: 70px;
    }
    &__text{
        display: block;
        text-transform: uppercase;
        color: $focusColor;
        font: 600 4rem $OpenSansStack;
    }
    &__textSpan{
        display: block;
        font: 1.3rem $OpenSansStack;
    }
    figure{
        text-align: center;
        margin: 6.5rem 0 6rem 0;
    }
    &__img{
        
    }

    .cols{
        width: 117rem;
        margin: 0 auto 6.5rem;

        .col{
            display: inline-block;
            width: 270px;
            &__title{
                font: 900 1.6rem $OpenSansStack;
            }
            &__text{
                font-size: 1.3rem;
                line-height: 2.6rem;
            }
            &__strong{

            }
            &__citation{
                
            }
            &__textCitation{

            }
            &__name{

            }
        }
        .col:last-child{
            background: red;
        }
    }
    .clients{
        &__title{

        }
        &__nav{

        }
        &__client-previous{

        }
        &__client-next{

        }
        &__client{

        }
        &__icone{

        }
        &__img{

        }
        
    }
}*/

